<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="com.sakit.demoSimple" Publisher="CN=SAKit" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SAKit Demo Simple</DisplayName>
    <PublisherDisplayName>SAKit</PublisherDisplayName>
    <Logo>media\assets\store_icon.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="demo_simple.App">
      <m2:VisualElements DisplayName="demo_simple" Square150x150Logo="media\assets\logo_icon.png" Square30x30Logo="media\assets\small_icon.png" Description="SAKit Demo Simple" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="media\assets\splash.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>